*.o
*.a
*.so
*.x 
*.lm
*.ln
*.ls
*.i
*.ii
*.gch
*.gcm
*.dylib

*.tar
*.tar.bz2

*.ca
*.ca.bz2

*.gz
*.bz2
*.z
*.Z

*.swp

todo.txt
tags
change
changer

x
so
a
o
e
oo
oc
oe
oh
o1
o2
o3

c1
c2
r1
r2

.DS_Store
.git
.gitattributes
.gitnotes
.tags

.reporoot
.repo
.kshrc
.profile
.bbnewsrc
.fullname
.msgrc
.swd
.news_time
.rsync*


