*.o
*.a
*.so
*.x 
*.lm
*.ln
*.ls
*.i
*.ii
*.gch
*.gcm
*.dylib

*.tar
*.tar.bz2

*.ca
*.ca.bz2

*.gz
*.bz2
*.z
*.Z

*.swp

.DS_Store
.git
.gitattributes
.gitnotes
.tags
.reporoot
.repo
.kshrc
.profile
.bbnewsrc
.fullname
.msgrc
.swd
.news_time
.rsync*

tags
change
changer

x
so
a
o
e
oa
ob
oc
od
oe
of
og
oh
oi
oo
o1
o2
o3

c1
c2
r1
r2

o.c
o.cc
o.ccm
o.h
o.hh

oo.c
oo.cc
oo.ccm
oo.h
oo.hh

todo.txt


